<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.saikrishna.lgmenubuttonfix">

    <uses-sdk android:minSdkVersion="14" />

    <application android:allowBackup="true" android:label="@string/app_name">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Fix for LG menu button causing a crash in certain apps." />
        <meta-data
            android:name="xposedminversion"
            android:value="54" />
    </application>

</manifest>
